{% extends 'base.html.twig' %}

{% block title %}{% trans %}Types{{% endtrans %}{% endblock %}

{% block header %}{% trans %}Types{{% endtrans %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ url('homepage') }}">{% trans %}Homepage{{% endtrans %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans %}Types{{% endtrans %}</li>
{% endblock %}

{% block content %}
    <div class="row">
        {% for type in types %}
            <a href="{{ url('type', {"slug": type.slug}) }}" class="list-group-item list-group-item-action">
                {{ type.name }} ({{ type.dances|length }})
            </a>
        {% endfor %}
    </div>
{% endblock %}
