body {
    /*background-color: lightgray;*/
    background: url("../images/body-background.jpg") repeat-y;
    background-size: 100%;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 780px) {
    body {
        background: lightgray !important;
    }

    #dropdownMenu {
        display: flex !important;
    }

    .entity {
        display: none !important;
    }
}

#dropdownMenu {
    display: none;
}

.entity {
    visibility: visible;
}

#map {
    border: 1px solid black;
    width: 100%;
    height: 500px;
}

.breadcrumb {
    background-color: lightgray;
}