body {
    /*background-color: lightgray;*/
    background: url("../images/body-background.jpg") repeat-y;
    background-size: 100%;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 600px) {
   body {
      background: lightgray !important;
  }
}

#map {
    border: 1px solid black;
    width: 100%;
    height: 500px;
}

.breadcrumb {
    background-color: lightgray;
}