{% extends 'base.html.twig' %}

{% block title %}Regions{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="text-center my-5">Regions</h1>
        </div>
        <div class="row">
            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=26.585587381136875%2C53.513176277923755%2C28.535660623324375%2C54.214475582820334&amp;layer=mapnik" style="border: 1px solid black"></iframe>
            <br/>
            <small>
                <a href="https://www.openstreetmap.org/#map=9/53.8653/27.5606">
                    View Larger Map
                </a>
            </small>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>Regions</h5>
                </div>
                <div class="card-body">
                    <div class="list-group list-group-flush">
                        {% for region in regions %}
                            <a href="{{ url('region', {'slug': region.slug}) }}" class="list-group-item list-group-item-action">
                                {{ region.name }}({{ region.dances|length }})
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
