{% extends 'base.html.twig' %}

{% block title %}{% trans %}Regions{% endtrans %}{% endblock %}

{% block header %}{% trans %}Regions{% endtrans %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ url('homepage') }}">{% trans %}Homepage{% endtrans %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans %}Regions{% endtrans %}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <iframe src="https://www.openstreetmap.org/export/embed.html?bbox=23.6%2C51.3%2C32.7%2C56.14&amp;layer=mapnik"
                    style="border: 1px solid black; width: 100%; height: 300%;">
            </iframe>
        </div>

        <div class="col">
            <div class="list-group list-group-flush">
                {% for region in regions %}
                    <a href="{{ url('region', {'slug': region.slug}) }}" class="list-group-item list-group-item-action">
                        {{ region.name }}({{ region.dancesCount }})
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
