{% extends 'base.html.twig' %}

{% block title %}Regions{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="text-center my-5">Regions</h1>
        </div>
        <div class="row">
            {# TODO Put in a map #}
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>Regions</h5>
                </div>
                <div class="card-body">
                    <div class="list-group list-group-flush">
                        {% for region in regions %}
                            <a href="#{# TODO вставить ссылку на страницу региона #}" class="list-group-item list-group-item-action">
                                {{ region.name }}({{ region.dances|length }})
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
